<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>Copyright &copy; 2019 <a href="https://adminlte.io">APS Linenker Pereira dos Santos</a>.</strong> All rights
  reserved.
</footer>